.lista {
 list-style: none;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  max-width: 600px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
  display: flex;
  flex-direction: column;
}